<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>해당 앱은 플레이스 정보 및 사용자의 현위치 정보를 사용하기 위해 권한이 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>해당 앱은 플레이스 정보 및 사용자의 현위치 정보를 사용하기 위해 권한이 필요합니다.</string>
	<key>NMFClientId</key>
	<string>k6sl6oqpxz</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black</string>
		<string>Pretendard-Bold</string>
		<string>Pretendard-ExtraBold</string>
		<string>Pretendard-ExtraLight</string>
		<string>Pretendard-Light</string>
		<string>Pretendard-Medium</string>
		<string>Pretendard-Regular</string>
		<string>Pretendard-SemiBold</string>
		<string>Pretendard-Thin</string>
	</array>
</dict>
</plist>
